/* 
 * Maunally added css
 *  
*/
input[type="radio"]{
  margin: 5px 0px 5px 0px;
}

.center-wrapper{
  text-align: center;
}

.center-wrapper * {
  margin: 0 auto;
}

.ui-input-text {
  margin: 0px 0px 15px 0px;
}

.ui-input-text input {
	font-size: 1.6em !important;
}

.ui-input-text input:not(#email) {
	text-transform:uppercase;  /* make all typed input uppercase */
}

.ui-controlgroup-controls {
	/*width: 50% !important;*/
	margin: auto !important;
}

ui-input-text input[id="apptTime"] {
	width:50%;
	margin-bottom:30px;
}

.ui-field-contain {
	border: none;
}
label {
	font-size: 1.5em !important;
}

p {
	font-size: 2.3em;
	margin: 30px !important;
}

a { 
	font-size: 1.5em !important;	
}

.col-left {
	float: left;
	width: 75%;
}

.col-right {
	float:right;
}
.btn-bottom {
    position:relative;
    margin-top:65%;
}​