html,
body,
#step1 {
  height: 100%;
  margin: 0;
  padding: 0;
}
.ui-content {
  padding: 0;
}
.ui-content,
.ui-content #full-height {
  height: inherit; /* the trick */
}

input[type="radio"]{
  margin: 5px 0px 5px 0px;
}

.center-wrapper{
  text-align: center;
}

.center-wrapper * {
  margin: 0 auto;
}

.ui-input-text input {
	font-size: 1.4em !important;
}
